body {
    background-color: #fffcfc18;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 290px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgb(49, 49, 49);
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#result {
    display: none;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
}